<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to the To Do List Page Bro</title>
  </head>
  <body>
    <h1>Welcome</h1>

    <p><a href="/categories">Click here</a> to see the categories add one more</p>
    <p><a href="/tasks">Click here</a> to see all the tasks add one more</p>
  </body>
</html>
